In [1]:
import pandas as pd
import sqlite3

In [2]:
# connect to one shared database
conn = sqlite3.connect("/Users/ayemaq/Desktop/Datathon/mta_equity.db")

In [3]:
# --- Census equivalency ---
df = pd.read_csv("/Users/ayemaq/Desktop/Datathon/2020_Census_Tracts_to_2020_NTAs_and_CDTAs_Equivalency_20250923.csv",
                 sep=None, engine="python", on_bad_lines="skip")
df.to_sql("census_equivalency", conn, if_exists="replace", index=False)
print("✅ Census equivalency loaded:", len(df), "rows")

✅ Census equivalency loaded: 2327 rows

In [4]:
# --- Poverty ---
df = pd.read_csv("/Users/ayemaq/Desktop/Datathon/poverty.csv",
                 sep=None, engine="python", on_bad_lines="skip", skiprows=2)
df.to_sql("poverty", conn, if_exists="replace", index=False)
print("✅ Poverty loaded:", len(df), "rows")

✅ Poverty loaded: 2016 rows

In [5]:
## Population
df = pd.read_csv("/Users/ayemaq/Desktop/Datathon/total_population.csv",
                 sep=None, engine="python", on_bad_lines="skip")
df.to_sql("population", conn, if_exists="replace", index=False)

2018

In [6]:
# --- ACE routes ---
df = pd.read_csv("/Users/ayemaq/Desktop/Datathon/median.csv",
                 sep=None, engine="python", on_bad_lines="skip")
df.to_sql("ace_routes", conn, if_exists="replace", index=False)
print("✅ ACE routes loaded:", len(df), "rows")

✅ ACE routes loaded: 2018 rows

In [7]:
df = pd.read_csv(
    "/Users/ayemaq/Desktop/Datathon/median.csv",
    sep=None,
    engine="python",
    on_bad_lines="skip"
)

# rename the column
df = df.rename(columns={"GEO_ID": "geo_id"})

df.to_sql("median_income", conn, if_exists="replace", index=False)

2018

In [8]:
df.columns = df.columns.str.strip().str.replace('"', '').str.upper()

In [9]:
import pandas as pd
import sqlite3

# Reconnect to DB
conn = sqlite3.connect("/Users/ayemaq/Desktop/Datathon/mta_equity.db")

# Function to load, clean, and save
def load_clean_save(path, table_name):
    df = pd.read_csv(path, sep=None, engine="python", on_bad_lines="skip")
    
    # Clean up column names
    df.columns = (
        df.columns.str.strip()
                  .str.replace('"', '')   # remove quotes
                  .str.replace("'", "")   # remove single quotes
                  .str.replace(" ", "_")  # replace spaces with underscores
                  .str.upper()            # make all uppercase
    )
    
    # Save to SQLite
    df.to_sql(table_name, conn, if_exists="replace", index=False)
    print(f"✅ {table_name} loaded with columns: {list(df.columns)}")
    return df

# Apply to all your datasets
median_income = load_clean_save("/Users/ayemaq/Desktop/Datathon/median.csv", "median_income")
poverty = load_clean_save("/Users/ayemaq/Desktop/Datathon/poverty.csv", "poverty")
population = load_clean_save("/Users/ayemaq/Desktop/Datathon/total_population.csv", "population")
ace_routes = load_clean_save("/Users/ayemaq/Desktop/Datathon/ace_routes.csv", "ace_routes")
census_equivalency = load_clean_save("/Users/ayemaq/Desktop/Datathon/2020_Census_Tracts_to_2020_NTAs_and_CDTAs_Equivalency_20250923.csv", "census_equivalency")

✅ median_income loaded with columns: ['\ufeffGEO_ID', 'NAME', 'B19013_001E', 'B19013_001M', 'UNNAMED:_4']
✅ poverty loaded with columns: ['\ufeffGEO_ID', 'NAME', 'B17021_001E', 'B17021_001M', 'B17021_002E', 'B17021_002M', 'B17021_003E', 'B17021_003M', 'B17021_004E', 'B17021_004M', 'B17021_005E', 'B17021_005M', 'B17021_006E', 'B17021_006M', 'B17021_007E', 'B17021_007M', 'B17021_008E', 'B17021_008M', 'B17021_009E', 'B17021_009M', 'B17021_010E', 'B17021_010M', 'B17021_011E', 'B17021_011M', 'B17021_012E', 'B17021_012M', 'B17021_013E', 'B17021_013M', 'B17021_014E', 'B17021_014M', 'B17021_015E', 'B17021_015M', 'B17021_016E', 'B17021_016M', 'B17021_017E', 'B17021_017M', 'B17021_018E', 'B17021_018M', 'B17021_019E', 'B17021_019M', 'B17021_020E', 'B17021_020M', 'B17021_021E', 'B17021_021M', 'B17021_022E', 'B17021_022M', 'B17021_023E', 'B17021_023M', 'B17021_024E', 'B17021_024M', 'B17021_025E', 'B17021_025M', 'B17021_026E', 'B17021_026M', 'B17021_027E', 'B17021_027M', 'B17021_028E', 'B17021_028M', 'B17021_029E', 'B17021_029M', 'B17021_030E', 'B17021_030M', 'B17021_031E', 'B17021_031M', 'B17021_032E', 'B17021_032M', 'B17021_033E', 'B17021_033M', 'B17021_034E', 'B17021_034M', 'B17021_035E', 'B17021_035M', 'UNNAMED:_72']
✅ population loaded with columns: ['\ufeffGEO_ID', 'NAME', 'B01003_001E', 'B01003_001M', 'UNNAMED:_4']
✅ ace_routes loaded with columns: ['ROUTE', 'PROGRAM', 'IMPLEMENTATION_DATE']
✅ census_equivalency loaded with columns: ['GEOID', 'COUNTYFIPS', 'BOROCODE', 'BORONAME', 'BOROCT2020', 'CT2020', 'CTLABEL', 'NTACODE', 'NTATYPE', 'NTANAME', 'NTAABBREV', 'CDTACODE', 'CDTATYPE', 'CDTANAME']

In [10]:
for table in ["median_income", "poverty", "population", "ace_routes", "census_equivalency"]:
    cols = pd.read_sql(f"PRAGMA table_info({table});", conn)
    print(f"\n{table} columns:\n", cols[['name', 'type']])

median_income columns:
           name  type
0      ﻿GEO_ID  TEXT
1         NAME  TEXT
2  B19013_001E  TEXT
3  B19013_001M  TEXT
4   UNNAMED:_4  REAL

poverty columns:
            name  type
0       ﻿GEO_ID  TEXT
1          NAME  TEXT
2   B17021_001E  TEXT
3   B17021_001M  TEXT
4   B17021_002E  TEXT
..          ...   ...
68  B17021_034E  TEXT
69  B17021_034M  TEXT
70  B17021_035E  TEXT
71  B17021_035M  TEXT
72  UNNAMED:_72  REAL

[73 rows x 2 columns]

population columns:
           name  type
0      ﻿GEO_ID  TEXT
1         NAME  TEXT
2  B01003_001E  TEXT
3  B01003_001M  TEXT
4   UNNAMED:_4  REAL

ace_routes columns:
                   name  type
0                ROUTE  TEXT
1              PROGRAM  TEXT
2  IMPLEMENTATION_DATE  TEXT

census_equivalency columns:
           name     type
0        GEOID  INTEGER
1   COUNTYFIPS  INTEGER
2     BOROCODE  INTEGER
3     BORONAME     TEXT
4   BOROCT2020  INTEGER
5       CT2020  INTEGER
6      CTLABEL     REAL
7      NTACODE     TEXT
8      NTATYPE  INTEGER
9      NTANAME     TEXT
10   NTAABBREV     TEXT
11    CDTACODE     TEXT
12    CDTATYPE     TEXT
13    CDTANAME     TEXT

In [11]:
def clean_column_names(db_path):
    conn = sqlite3.connect(db_path)
    cur = conn.cursor()

    # get all table names
    cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [row[0] for row in cur.fetchall()]

    for table in tables:
        print(f"\nChecking table: {table}")
        cur.execute(f"PRAGMA table_info({table});")
        cols = cur.fetchall()

        for col in cols:
            old_name = col[1]
            clean_name = old_name.strip().replace(" ", "_").replace(":", "_")

            # remove BOM if present
            clean_name = clean_name.replace("\ufeff", "")

            if old_name != clean_name:
                print(f" - Renaming {old_name!r} → {clean_name!r}")
                cur.execute(f'ALTER TABLE "{table}" RENAME COLUMN "{old_name}" TO "{clean_name}";')

    conn.commit()
    conn.close()
    print("\n✅ All column names cleaned!")

# Run it
clean_column_names("mta_equity.db")

Checking table: poverty_simple

Checking table: median_income
 - Renaming '\ufeffGEO_ID' → 'GEO_ID'
 - Renaming 'UNNAMED:_4' → 'UNNAMED__4'

Checking table: poverty
 - Renaming '\ufeffGEO_ID' → 'GEO_ID'
 - Renaming 'UNNAMED:_72' → 'UNNAMED__72'

Checking table: population
 - Renaming '\ufeffGEO_ID' → 'GEO_ID'
 - Renaming 'UNNAMED:_4' → 'UNNAMED__4'

Checking table: ace_routes

Checking table: census_equivalency

✅ All column names cleaned!